<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thirdeye.retain" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Retain</name>
    <description>
        Keep track of items on your boat, house, office, and more.
    </description>
    <author email="support@3ee.com" href="https://3ee.com">
        Third Eye Entertainment
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="http://3ee.com" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-speechrecognition" spec="^1.2.0" />
    <plugin name="cordova-plugin-http" spec="^1.2.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
